<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles/style.css">
    <link rel="icon" href="assets/img/browsericon-removebg-preview.png">
    <title>Life Blood</title>
</head>
<body>
    <header id="main-header">
        <h1>Welcome to Life Blood!     The best Blood Donation Service!</h1>
    </header>

  <!-- Flex container -->
  <div class="flex-container">

    <!-- Flex item med universellt ID -->
    <div class="flex-item" id="container-1-left">
      <h3 id="head-con">Review 1</h3>
      <p>Lorem ipsum dolor sit, Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia laboriosam quis quasi dicta maxime soluta aliquid, unde saepe adipisci officiis labore dolore doloremque, nemo impedit corrupti ea, nam similique iste quod! Magni doloremque at reprehenderit accusantium. Corporis cupiditate mollitia, perferendis dolor sed iure. Suscipit consequuntur ad impedit incidunt, magnam ipsam! amet consectetur adipisicing elit. Itaque, eveniet cumque officiis voluptatibus repellendus quae excepturi dignissimos libero expedita incidunt, velit earum voluptate! Expedita, quo? Similique impedit sint vero accusamus!
      </p>
    </div>

    <!-- Flex item med personligt ID -->
    <div class="flex-item" id="container-2-mid">
      <h3 id="head-con">Start donating now!</h3>
      <p>Här är innehållet för personligt ID Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum officiis culpa, sapiente dolorum ut, sed eligendi vitae hic odit praesentium quia illo adipisci ea assumenda temporibus neque, magnam nam impedit perferendis! Delectus veritatis suscipit repellendus distinctio ut animi rerum, dolores consectetur perspiciatis magnam consequuntur tempora a aliquid temporibus libero ullam quibusdam magni, voluptatibus aut sequi, soluta illo ducimus est ex. Voluptas, quo. Sit perspiciatis odio voluptatibus nam nisi, illo eligendi aperiam! Dolores a natus reiciendis corrupti similique, cumque vel quia! Sit, sequi officia quod alias voluptate deleniti temporibus, repellendus, aut molestiae enim dolorem ducimus fugiat. Voluptas expedita incidunt quos.</p>
    </div>

    <!-- Flex item med personligt ID -->
    <div class="flex-item" id="container-3-right">
      <h3 id="head-con">Review 2</h3>
      <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, rerum cumque. Commodi cupiditate quis, illum quo sit eos rem vitae nisi repudiandae nemo quae. Ad ducimus numquam dolores suscipit sed quis possimus iste eos ut consequatur eius dolorem consectetur nisi nostrum ipsam adipisci cupiditate harum iusto, debitis corrupti, itaque quas tenetur. Labore, aliquid? A, hic impedit! Cumque voluptate at, excepturi repellendus sint quaerat accusantium eius vero esse molestiae nisi quidem repellat laborum doloribus quas distinctio ipsa necessitatibus ut voluptatibus, iste pariatur autem doloremque voluptas officia! Quis ea voluptas quo nihil, repellat odio corporis repellendus eos ducimus, accusantium adipisci esse ut. amet consectetur adipisicing elit. Aperiam aspernatur id doloremque, quisquam odio odit ea nobis porro praesentium nostrum minima a obcaecati eos omnis voluptates. Ex in veniam accusamus?</p>
    </div>

  </div>

        
    </main>
    <footer>

    </footer>

</body>
</html>