<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles/style.css">
    <link rel="icon" href="assets/img/browsericon-removebg-preview.png">
    <title>Life Blood</title>
</head>
<body>
    <header id="main-header">
        <h1 id="welcome-header">Welcome to Life Blood!<br>The best Blood Donation Service!</br></h1>
        <!--<a id="loginbtn" href="/login">Login as Admin</a>-->
        <li id="right"><% if (typeof(session) != "string") { %> <a href="./login">LOGIN</a> <% } %><% if (typeof(session) == "string") { %> <a href="./logout">LOGOUT</a> <% } %></li>
        <li id="right"><% if (typeof(session) == "string") { %> <p> <a href="/user">Admin</a>: <%= session %></p> <% } %></li>
    </header>

  <!-- Flex container -->
  <div class="flex-container">

    <!-- Flex item med universellt ID -->
    <div class="flex-item" id="container-1-left">
      <h3 id="head-con">Review 1</h3>
      <p>I recently donated blood with Life Blood and I was extremely impressed with their professionalism and organization. From the moment I walked in, I felt welcomed and comfortable. The staff were knowledgeable and made me feel at ease throughout the process. The donation itself was quick and painless, and I left feeling proud to have made a difference in someone's life. I would highly recommend Life Blood to anyone looking to donate and make a positive impact in their community
      </p>
    </div>

    <!-- Flex item med personligt ID -->
    <div class="flex-item" id="container-2-mid">
      <h3 id="head-con">Start donating now!</h3>
      <p>
        Life Blood is an excellent choice for blood donation, as they are committed to safety and quality, make the donation process easy and convenient with online booking, are dedicated to making a difference in their community, and provide a selfless act that can make a big impact. By donating through them, you can feel good about yourself and the positive impact you are making on the lives of others.
        <br></br>
        <a id="donobtn" href="/post">Donate Today!</a>
      </p>
    </div>

    <!-- Flex item med personligt ID -->
    <div class="flex-item" id="container-3-right">
      <h3 id="head-con">Review 2</h3>
      <p>
        Life Blood is an exceptional blood donation company that truly cares about their donors and recipients. I have been donating with them for years and have always had a positive experience. The staff are friendly and helpful, and the donation process is easy and efficient. It's great to know that my donation is going towards saving lives and making a difference in the world. I would encourage anyone who is able to donate to consider choosing Life Blood for their next donation.
      </p>
    </div>

  </div>

        
    </main>
    <footer>

    </footer>

</body>
</html>