<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="assets/styles/style.css">
   <link rel="icon" href="assets/img/browsericon-removebg-preview.png">
   <title>Life Blood</title>
</head>
<body>
   <h2>
       Please fill out this information:
   </h2>
   <br/><br/>
   <form action="/submitted" method="POST"> 
       <label for="FirstName">First name: </label>
       <input type="fname" name="fname" /><br/><br/>
       <label for="LastName">Last name: </label>
       <input type="text" name="lname" /><br/><br/>
       <label for="pnummer">Social Security Number (personnummer): </label>
       <input type="text" name="pnummer" /> <br></br>
       <label for="btype">Blood type: </label>
       <input type="text" name="btype" /> <br></br>
       <label for="bdis">Confirm that you have been in perfect health for the past 2 months: </label>
       <input type="checkbox" name="bdis" /> <br></br>
       
       <button type="submit">Submit</button>
       

   </form>
   <button onclick="window.location.href='/search'">Go to Search Page</button>
</body>
</html>