<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <h2>
       Skriva till databas
   </h2>
   <a href="/">Go back</a>
   <br/><br/>
   <form action="/a" method="POST" enctype="multipart/form-data">
       <label for="title">Title:</label>
       <input type="text" name="title" /><br/><br/>
       <label for="text">Text:</label>
       <input type="text" name="text" /><br/><br/>
       <label for="img">Image:</label>
       <input type="file" accept="image/*" name="img" /><br/>
       <button type="submit">Ok</button>
   </form>
</body>
</html>