<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styling/style.css">
    <link rel="icon" href="assets/img/browsericon-removebg-preview.png">
    <title>Life Blood</title>
</head>
<body>
    <a id="homebtn" href="/post">Home</a><br>

    <% data.forEach(function (post) { %>
        <%= post.fname %>
        <%= post.lname %><br>
        <%= post.pnummer%><br>
<% }) %>

</body>
</html>