<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles/style.css">
    <link rel="icon" href="assets/img/browsericon-removebg-preview.png">
    <title>Life Blood</title>
    <a id="homebtn" href="/">Home</a><br>
</head>
<body>
    <form action="/search" method="post">
        <select type="text" name="searchBy">
            <option value="fname">Förnamn</option>
            <option value="lname">Efternamn</option>
            <option value="pnummer">Personnummer</option>
            <option value="btype">Blodgrupp</option>
        </select>
        <input type="text" name="searchQuery">
        <button type="submit">Search</button>
    </form>
    <% data.forEach(function (post) { %>
        <%= post.fname %>
        <%= post.lname %><br>
        <%= post.pnummer%><br>
<% }) %>

</body>
</html>