<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="assets/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/img/browsericon-removebg-preview.png">
    <title>Life Blood</title>
</head>
<body>
    <a id="homebtn" href="/">Home</a><br>
    
    <form action="/search" method="post">
        <select type="text" name="searchBy">
            <option value="fname">Förnamn</option>
            <option value="lname">Efternamn</option>
            <option value="pnummer">Personnummer</option>
            <option value="btype">Blodgrupp</option>
        </select>
        <input type="text" name="searchQuery">
        <button type="submit">Search</button>
    </form>
    <p2 id="disclaimer">
        <br>
        <br>
        <br>
        DISCLAIMER! When searching for people, make sure you have the correct search value (förnamn, efternamn, ETC)
        <br>
        <br>
        When searching for bloodtype, make sure to specify negative or positive values. 
        <br>
        <br>
        A person with AB- CANNOT donate to a person with AB+.
    </p2>
</body>
</html>