<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="assets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/img/browsericon-removebg-preview.png">
    <title>Life Blood</title>
</head>
<body>
    <a id="homebtn" href="/post">Home</a><br>
    
    <form action="/search" method="post">
        <input type="text" name="searchQuery">
        <input type="text" name="searchBy">
        <button type="submit">Search</button>
    </form>
</body>
</html>