*{
    background-color: #faf0e6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    box-sizing: border-box;
    list-style-type: none;
}

#homebtn{
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #faf0e6;
    border: 4px solid #333;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#homebtn:hover{
    background-color: #f4e1c4;
    
}

#main-header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

#head-con{
    text-align: center;
}

#loginbtn{
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #faf0e6;
    border: 4px solid #333;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#loginbtn:hover{
    background-color: #f4e1c4;
}

#donobtn{
    font-size: 30px;
}

.flex-container{
    display: flex;
    gap: 30px;
    margin: 5rem;
}

.flex-item{
    width: 33%;
    height:100%;
    align-items: center;
    border-style: solid;
    border-color: red;
}

#right{
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 5px solid #333;
    margin: 5px;
}


@media (max-width: 500px){
    .flex-container{
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    #head-con{
        padding-bottom: 1vh;
    }

}